<% content_for :head do %>
	<%= javascript_include_tag 'livevalidation_prototype.compressed' %>
	<%= javascript_include_tag 'validate_applicant' %>
<% end %>

<% form_for @applicant do |f| %>
		<%= f.error_messages %>
		
		<h2>Applicant Info</h2>
		
		<p>
			<%= f.label :firstname %><span class="required">*</span><br />
			<%= f.text_field :firstname %>
		</p>
		<p>
			<%= f.label :lastname %><span class="required">*</span><br />
			<%= f.text_field :lastname %>
		</p>
		<p>
			<%= f.label :address %><span class="required">*</span><br />
			<%= f.text_field :address %>
		</p>
		<p>
			<%= f.label :city %><span class="required">*</span><br />
			<%= f.text_field :city %>
		</p>
		<p>
			<%= f.label :zip %><span class="required">*</span><br />
			<%= f.text_field :zip %>
		</p>
		<p>
			<%= f.label :phone %><span class="required">*</span><br />
			<%= f.text_field :phone %>
		</p>
		<p>
			<%= f.label :email %><span class="required">*</span><br />
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label :website %><br />
			<%= f.text_field :website %>
		</p>
		<h2>Submission</h2>
		<% if @applicant.submission %>
			<label>Statement</label>
			<p><%= @applicant.submission.statement %></p>
			<label>Resume</label>
			<p><%= link_to @applicant.submission.resume_file_name, @applicant.submission.resume.url %></p>
			<ul class="work">
				<% for work in @applicant.submission.works %>
					<li>
						<strong>Type: </strong><%= work.type.title %><br />
						<% if work.type.id == 1 %>
							<%= link_to image_tag(work.image.url(:med)), work.image.url(:large), :alt => work.title, :rel => 'shadowbox[gallery]' %>
						<% elsif work.type.id == 2 || work.type.id == 3 %>
							<%= link_to work.title, work.url, :rel => 'shadowbox[gallery]' %>
						<% elsif work.type.id == 4 %>
							<%= link_to work.title, work.document.url, :target => :blank %>
						<% end %>
					</li>
				<% end %>
			</ul>
			<div class="clear"></div>
			<p><%= link_to "Edit Submission", edit_submission_path(@applicant.submission) %></p>
		<% else %>
			<p class="caution">This user has not submitted anything.</p>
			<p><%= link_to "New Submission", new_applicant_submission_path(@applicant) %></p>
		<% end %>
		<p>
			<span class="required">*</span><span class="instructions"> = Required Field</span>
		</p>
		<p>
			<%= f.submit 'Save' %>
		</p>
<% end %>