<% form_for [@program, @applicant] do |f| %>
	<%= f.error_messages %>
	
	<h2>Your Info</h2>
	
	<p>
		<%= f.label :firstname %><span class="required">*</span><br />
		<%= f.text_field :firstname %>
	</p>
	<p>
		<%= f.label :lastname %><span class="required">*</span><br />
		<%= f.text_field :lastname %>
	</p>
	<p>
		<%= f.label :address %><span class="required">*</span><br />
		<%= f.text_field :address %>
	</p>
	<p>
		<%= f.label :city %><span class="required">*</span><br />
		<%= f.text_field :city %>
	</p>
	<p>
		<%= f.label :zip %><span class="required">*</span><br />
		<%= f.text_field :zip %>
	</p>
	<p>
		<%= f.label :phone %><span class="required">*</span><br />
		<%= f.text_field :phone %>
	</p>
	<p>
		<%= f.label :email %><span class="required">*</span><br />
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :website %><br />
		<%= f.text_field :website %>
	</p>
	<p>
		<span class="required">*</span><span class="instructions"> = Required Field</span>
	</p>
	<p>
		<%= f.submit 'Continue' %>
	</p>

<% end %>