<% title "Edit Applicant" %>

<% if admin_signed_in? %>
	<div id="admincontrols">
	  <%= link_to "All Applicants", program_applicants_path(@applicant.program) %> | 
	  <%= link_to "Show", @applicant %> | 
	  <%= link_to "Destroy", @applicant, :confirm => 'Are you sure?', :method => :delete, :class => 'caution' %>
	</div>
	<%= render :partial => 'edit_form' %>
<% elsif DateTime.now > @program.end %>
	<p>This Program is no longer accepting submissions.</p>
<% elsif DateTime.now < @program.start %>
	<p>This Program is not accepting submissions until <%= @program.start.strftime('%b %d, %Y') %>.</p>
<% else %>
	<%= render :partial => 'edit_form' %>
<% end %>
