<% content_for :head do %>
	<%= stylesheet_link_tag '/javascripts/shadowbox/shadowbox' %>
	<%= javascript_include_tag 'shadowbox/shadowbox' %>
	<%= javascript_include_tag 'shadowbox_config' %>
<% end %>

<div id="admincontrols">
	<% if admin_signed_in? %>
		<%= link_to "Download Excel File", program_applicants_path(@program, :format => :xls) %> | 
	<% end %>
	<%= link_to "Back to Program", @program %>
</div>

<% title @program.title + " Applicants" %>

<table width="100%">
	<tr align="left">
		<th><%= sortable 'firstname' %></th>
		<th><%= sortable 'lastname' %></th>
		<th>Resume</th>
		<th>work</th>
		<% if juror_signed_in? %>
			<th>Your Rating</th>
		<% else %>
			<th><%= sortable "rating_average", "Avg. Rating" %></th>
		<% end %>
	</tr>
	<% for applicant in @applicants %>
		<% if applicant.submission && juror_signed_in? && current_juror.programs.include?(applicant.program) %>
		    <tr class="<%= cycle('even', 'odd') %>">
				<td><%=h applicant.firstname %></td>
				<td><%=h applicant.lastname %></td>
				<td><%= link_to 'Download', applicant.submission.resume.url %></td>
				<td>
					<ul class="worksmall">
						<% for work in applicant.submission.works %>
							<li>
								<% if work.type.id == 1 %>
									<%= link_to image_tag(work.image.url(:icon)), work.image.url(:large), :alt => work.title, :rel => 'shadowbox[gallery]' %>
								<% elsif work.type.id == 2 || work.type.id == 3 %>
									<%= link_to work.title, work.url, :rel => 'shadowbox[gallery]' %>
								<% elsif work.type.id == 4 %>
									<%= link_to work.title, work.document.url, :target => :blank %>
								<% end %>
							</li>
						<% end %>
					</ul>
				</td>
				<td><%= ratings_for applicant, :show_user_rating => true %></td>
				<td>
					<div class="editcontrols">
						<%= link_to "Show", applicant %>
					</div>
				</td>
		    </tr>
		<% elsif admin_signed_in? %>
			<tr class="<%= cycle('even', 'odd') %>">
				<td><%=h applicant.firstname %></td>
				<td><%=h applicant.lastname %></td>
				<td>
					<% if applicant.submission %>
						<%= link_to 'Download', applicant.submission.resume.url %>
					<% end %>
				</td>
				<td>
					<% if applicant.submission %>
						<ul class="worksmall">
							<% for work in applicant.submission.works %>
							<li>
								<% if work.type.id == 1 %>
									<%= link_to image_tag(work.image.url(:icon)), work.image.url(:large), :alt => work.title, :rel => 'shadowbox[gallery]' %>
								<% elsif work.type.id == 2 || work.type.id == 3 %>
									<%= link_to work.title, work.url, :rel => 'shadowbox[gallery]' %>
								<% elsif work.type.id == 4 %>
									<%= link_to work.title, work.document.url, :target => :blank %>
								<% end %>
							</li>
						<% end %>
						</ul>
					<% else %>
						No Work Submitted
					<% end %>
				</td>
				<td><%= ratings_for applicant, :static %></td>
				<td>
					<div class="editcontrols">
						<%= link_to "Show", applicant %> | 
						<%= link_to "Edit", edit_applicant_path(applicant) %> | 
						<%= link_to "Destroy", applicant, :confirm => 'Are you sure?', :method => :delete, :class => 'caution' %>
					</div>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>

<% if admin_signed_in? %>
	<div id="jurors">
		<h2>Jurors</h2>
		<ul class="jurors">
		<% for juror in @program.jurors %>
			<li><%= link_to juror.name, juror %></li>
		<% end %>
		</ul>
	</div>
	<p><%= link_to "New Applicant", new_program_applicant_path(@program) %></p>
<% end %>