<% title "Applicant" %>

<h2><%=h @applicant.firstname + " " + @applicant.lastname %></h2>

<p>
  <strong>Address:</strong>
  <%=h @applicant.address %>
</p>
<p>
  <strong>City:</strong>
  <%=h @applicant.city %>
</p>
<p>
  <strong>Zip:</strong>
  <%=h @applicant.zip %>
</p>
<p>
  <strong>Phone:</strong>
  <%=h @applicant.phone %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @applicant.email %>
</p>
<p>
  <strong>Website:</strong>
  <%=h @applicant.website %>
</p>

<p>
	<strong>Statement:</strong><br />
	<%=h @applicant.submissions.first.statement %>

	<% for submission in @applicant.submissions %>
		<%=h submission.works %>
	<% end %>
</p>


<p>
  <%= link_to "Destroy", @applicant, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", program_applicants_path(@applicant.program) %>
</p>
