<% title "Applicant" %>

<p>
  <strong>Firstname:</strong>
  <%=h @applicant.firstname %>
</p>
<p>
  <strong>Lastname:</strong>
  <%=h @applicant.lastname %>
</p>
<p>
  <strong>Address:</strong>
  <%=h @applicant.address %>
</p>
<p>
  <strong>City:</strong>
  <%=h @applicant.city %>
</p>
<p>
  <strong>Zip:</strong>
  <%=h @applicant.zip %>
</p>
<p>
  <strong>Phone:</strong>
  <%=h @applicant.phone %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @applicant.email %>
</p>
<p>
  <strong>Website:</strong>
  <%=h @applicant.website %>
</p>


<p>
  <%= link_to "Edit", edit_applicant_path(@applicant) %> |
  <%= link_to "Destroy", @applicant, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", applicants_path %>
</p>
