<% title link_to(@program.title, named_program_path(@program)) %>

<% content_for :navbar do %>
	<%= render 'layouts/navbar' %>
<% end %>

<h3>Works</h3>

<table>
  <tr>
    <th>Submission</th>
    <th>Type</th>
    <th>Title</th>
    <th>Link</th>
  </tr>
  <% for work in @works %>
    <tr>
      <td><%= work.submission_id %></td>
      <td><%= work.type %></td>
      <td><%= work.title %></td>
      <td><%= work.link %></td>
      <td><%= link_to "Show", submission_work_path(:submission) %></td>
      <td><%= link_to "Destroy", work, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Works", new_submission_work_path(@program.url, @submission) %></p>
