<% title "Work" %>

<p>
  <strong>Submission:</strong>
  <%= @work.submission_id %>
</p>
<p>
  <strong>Type:</strong>
  <%= @work.type %>
</p>
<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>
<p>
  <strong>Url:</strong>
  <%= @work.url %>
</p>

<p>
  <%= link_to "Edit", edit_work_path(@work) %> |
  <%= link_to "Destroy", @work, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", works_path %>
</p>
