<% content_for :head do %>
	<%= javascript_include_tag :ckeditor %>
<% end %>

<% form_for @program, :html => { :multipart => true } do |f| %>

  <%= f.error_messages %>
  
  <div id="usersform">
  	<%= f.label :jurors %>:<br />
  	<span class="instructions">You may select multiple jurors.</span><br />
  	<%= select_tag "program[user_ids][]", options_from_collection_for_select(User.all, "id", "username"), :multiple => true, :size => 2 %><br />
  	<%= link_to "Add User", new_user_path %>
  </div>
  
  <p>
  	<%= f.label :title %>:
  	<% if @program.title %>
  		<%= @program.title %>
    <% else %>
    	<%= f.text_field :title %>
    <% end %> 
    <%= f.label :published %>: 
    <%= f.check_box :published %>
  </p>
  <p>
    <%= f.label :logo %>: 
    <%= f.file_field :logo %>
  </p>
  <p>
  	<%= f.label :start %>: 
  	<%= f.date_select :start %> | 
	<%= f.label :end %>: 
  	<%= f.date_select :end %>
  </p>
  <p>
  	<%= f.label :description %>:<br />
  	<%= f.cktext_area :description, :toolbar=>'Full', :width=>'900px', :heigth=>'100px' %>
  </p>
  <p>
    <%= f.label :guidlines %>:<br />
    <%= f.cktext_area :guidlines, :toolbar=>'Full', :width=>'900px', :heigth=>'100px' %>
  </p>
  <p>
    <%= f.label :contact %>:<br />
    <%= f.cktext_area :contact, :toolbar=>'Full', :width=>'900px', :heigth=>'100px' %>
  </p>
  
  <p><%= f.submit %></p>
<% end %>
