<% form_for @program, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %>: 
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :logo %>: 
    <%= f.file_field :logo %>
  </p>
  <p>
  	<%= f.label :start %>: 
  	<%= f.date_select :start %> | 
	<%= f.label :end %>: 
  	<%= f.date_select :end %>
  </p>
  <p>
  	<%= f.label :description %>:<br />
  	<%= f.text_area :description, :rows => 5, :cols => 100 %>
  </p>
  <p>
    <%= f.label :guidlines %>:<br />
    <%= f.text_area :guidlines, :rows => 5, :cols => 100 %>
  </p>
  <p>
    <%= f.label :contact %>:<br />
    <%= f.text_area :contact, :rows => 5, :cols => 100 %>
  </p>
  
  <p>
  	<%= f.label :users %>:<br />
  	<span class="instructions">You may select multiple jurors.  If you do not see the juror here, you must add them here.</span><br />
  	<%= f.select("users", options_for_select(User.find(:all).collect { |user| [user.username, user.id] }, @program.users.collect { |user| user.id}), {:multiple=>true, :size=>6})%><br />
  	<%= link_to "Add User", new_user_registration_path %>
  </p>

  <p><%= f.submit %></p>
<% end %>
