<% title APP_CONFIG['site_name'] %>

<table>
  <tr>
    <th>Title</th>
    <th>Start</th>
    <th>End</th>
	<% if user_signed_in? && current_user.role?('admin') %>
    	<th>Published</th>
	<% end %>
	<% if can? :read, Jurorship %>
		<th>Jurors</th>
	<% end %>
	<% if can? :read, Editorship %>
		<th>Editors</th>
	<% end %>
	<!--<th>Default</th>-->
  </tr>
  <% for program in @programs %>
    <% if can? :read, program %>
		<tr>
	      <td><%= link_to program.title, program %></td>
	      <td><%= program.start.strftime('%a, %b %e, %Y') %></td>
	      <td><%= program.end.strftime('%a, %b %e, %Y') %></td>
		  <% if user_signed_in? && current_user.role?('admin') %>
	      	<td><span class="<%= program.published %>"><%= program.published %></span></td>
		  <% end %>
		  <!--<td><%= program.default %></td>-->
		  <% if can? :read, Jurorship %>
			<td>
				<ul>
					<% for juror in program.jurors %>
						<li><%= juror.fullname %></li>
					<% end %>
				</ul>
			</td>
		  <% end %>
		  <% if can? :read, Editorship %>
			<td>
				<ul>
					<% for editor in program.editors %>
						<li><%= editor.fullname %></li>
					<% end %>
				</ul>
			</td>
		  <% end %>
	      <td>
		      <% if can? :update, program %>
				<!--<%= link_to "Make Default", set_default_program_path(program), :method => :put %> | -->
			  	<%= link_to "Edit", edit_program_path(program) %>
			  <% end %>
			  <% if can? :delete, program %>
		      	| <%= link_to "Destroy", program, :confirm => 'Are you sure?', :method => :delete, :class => 'warning' %>
			  <% end %>
		  </td>
	    </tr>
	<% end %>
  <% end %>
</table>

<%= paginate @programs %>