<% content_for :head do %>
	<title>Programs</title>
<% end %>

<h1>Programs</h1>

<table width="100%">
	<th></th>
	<th></th>
	<th align="left">start date</th>
	<th align="left">end date</th>
	<% if user_signed_in? %>
		<% if current_user.role == 'admin' %>
			<th align="left">Published</th>
			<th align="left">jurors</th>
		<% end %>
	<% end %>
	<% for program in @programs %>
		<% if program.published == true || user_signed_in? %>
		    <tr align="left" valign="top" class="tablerow_<%= cycle("even", "odd") %>">
		      <td width="50px"><%= link_to image_tag(program.logo.url(:icon)), program %></td>
		      <td><strong><%=h link_to program.title, program %></strong></td>
		      <td><%=h program.start.strftime('%m/%d/%Y') %></td>
		      <td><%=h program.end.strftime('%m/%d/%Y') %></td>
		      <% if user_signed_in? %>
		      		<% if current_user.role == 'admin' %>
		      			<td>
		      				<%= program.published %>
		      			</td>
						<td>
							<% for user in program.users %>
								<%=h user.username %>
							<% end %>
						</td>
					<% end %>
		      <% end %>
				<% if user_signed_in? %>
					<% if current_user.role == 'admin' %>
						<td width="150px">
							<div class="editcontrols">
								<%= link_to "Show", program %> | 
								<%= link_to "Edit", edit_program_path(program) %> | 
								<%= link_to "Destroy", program, :confirm => 'Are you sure?', :method => :delete %>
							</div> 
						</td>
					<% end %>
				<% else %>
					<td width="150px">
						<div class="editcontrols">
							<%=h link_to "Apply", program %>
						</div>
					</td>
				<% end %>
		    </tr>
	    <% end %>
  	<% end %>
</table>

<% if user_signed_in? %>
	<% if current_user.role == 'admin' %>
		<p><%= button_to "New Program", new_program_path %></p>
	<% end %>
<% end %>