<% content_for :head do %>
	<%= javascript_include_tag 'submission_form_scripts' %>
<% end %>

<%= render 'layouts/programtop' %>

<div id="content">
	
	<h2>Your Work</h2>
	
	<% form_for [@applicant, @submission], :html => { :multipart => true } do |f| %>
	  <%= f.error_messages %>
	  
	  <p>
	    <%= f.label :statement %><br />
	    <%= f.text_area :statement, :cols => 77, :rows => 10 %>
	  </p>
	  <% i = 0 %>
	  <% f.fields_for :works do |builder| %>
	  	<div class="submit_<%= cycle("even", "odd") %>">
			<%= render 'work_fields', :f => builder, :i => i %>
		</div>
		<% i += 1 %>
	  <% end %>
	  
	  <p><%= f.submit "Submit" %></p>
	<% end %>
</div>

<%= render 'layouts/programbot' %>