<% content_for :head do %>
	<%= javascript_include_tag 'submission_form_scripts' %>
<% end %>

<%= render 'layouts/programtop' %>

<div id="content">
	
	<h2>Your Work</h2>
	<p>
		<span class="required">*</span><span class="instructions"> = Required Field</span>
	</p>
	
	<% form_for [@applicant, @submission], :html => { :multipart => true } do |f| %>
	  <%= f.error_messages %>
	  
	  <p>
	  	<span class="instructions">A brief artist's statement which includes a proposal for the work you would create for the project.<br />Why is this work a good fit for the Community Supported Art program? (500 words max)</span><br />
	    <%= f.label :statement %><span class="required">*</span><br />
	    <%= f.text_area :statement, :cols => 77, :rows => 10 %>
	  </p>
	  <p>
	  	<span class="instructions">One page resume.  Please organize your accomplishments into sections (for example: education, employment/professional experience, exhibitions, awards, publications, miscellaneous) and save your resume as a pdf.  Click 'Browse' to upload your file from you computer.</span><br />
	  	<%= f.label :resume %><span class="required">*</span>
	  	<%= f.file_field :resume %>
	  </p>
	  <% i = 0 %>
	  <% f.fields_for :works do |builder| %>
	  	<div class="submit_<%= cycle("even", "odd") %>">
			<%= render 'work_fields', :f => builder, :i => i %>
		</div>
		<% i += 1 %>
	  <% end %>
	  
	  <p>
		<span class="required">*</span><span class="instructions"> = Required Field</span>
	  </p>
	  
	  <p><%= f.submit "Submit" %></p>
	<% end %>
</div>

<%= render 'layouts/programbot' %>