<div id="work_block_<%= i %>" class="work_block">
	
	<div class="work_input work_type">
		<%= f.label :type_id, "Type" %> 
		<%= f.collection_select :type_id, Type.all, :id, :title %>
	</div>
	
	<div class="work_input work_title">
		<%= f.label :title %> 
		<%= f.text_field :title %>
	</div>

	<div class="work_input work_link">
		<%= f.label :link %> 
		<%= f.text_field :link %>
	</div>

	<div class="work_input work_image">
		<%= f.label :image %> 
		<% if f.object.new_record? %>
			<%= f.file_field :image %>
		<% else %>
			<div class="existing_field">
				<%= link_to f.object.image.file.filename, f.object.image_url(:large), :title => f.object.title, :class => 'fancy', :rel => 'work' %> 
				<!--<%= link_to image_tag(f.object.image_url(:thumb)), f.object.image_url(:large), :title => f.object.title, :class => 'fancy', :rel => 'work' %> -->
				<%= link_to 'edit', '#', :id => 'edit_resume_file', :class => 'edit_file' %>
			</div>
			<div class="new_field">
				<%= f.file_field :image %> 
				<%= link_to 'cancel', '#', :id => 'cancel_edit', :class => 'cancel_edit' %>
			</div>
		<% end %>
	</div>
	
</div>