<p>
	<%= f.label :type_id %>: 
	<%= f.select :type_id, Type.all.collect{|p| [p.title, p.id]}%>
</p>
<p>
	<%= f.label :title %>: 
	<%= f.text_field :title, :size => 75 %>
</p>

<div id="file_<%= i %>">
	<p class="instructions">Instuctions here</p>
	<p>
		<%= f.label :image, "File" %>: 
		<%= f.file_field :image %>
	</p>
</div>

<div id="url_<%= i %>">
	<p class="instructions">Instuctions here</p>
	<p>
		<%= f.label :url %>: 
		<%= f.text_field :url, :size => 75 %>
	</p>
</div>