<% content_for :head do %>
	<title><%= @program.title %></title>
	<%= stylesheet_link_tag 'show' %>
<% end %>

<% if admin_signed_in? %>
	<div id="admincontrols">
		<% if @program.applicants %>
			<%= link_to "View "  + @program.applicants.length.to_s +  " Applicants", program_applicants_path(@program) %>
		<% end %>
		 | 
		<%= link_to "View All Programs", programs_path %> | 
		<%= link_to "Edit", edit_program_path(@program) %> |
		<%= link_to "Destroy", @program, :confirm => 'Are you sure?', :method => :delete, :class => 'caution' %>
	</div>
<% elsif juror_signed_in? %>
	<div id="admincontrols">
		<% if @program.applicants %>
			<%= link_to "View Applicants", program_applicants_path(@program) %>
		<% end %>
	</div>
<% end %>

<% content_for :navbar do %>
	<div id="sideBar">
		<%= link_to image_tag(@program.logo.url(:medium)), @program %>
		<ul id="mainmenu">
			<li><%= link_to "Description", program_url(@program) %></li>
			<li><%= link_to "Guidelines", program_url(@program) + '/guidelines' %></li>
			<li><%= link_to "Submit", new_program_applicant_path(@program) %></li>
		</ul>
	</div>
<% end %>

<div id="header">
	<h1><%=h @program.title + " Submission Site" %></h1>
</div>